<div class="main-page">
  <div class="datepicker">

    <mat-form-field appearance="fill">
      <mat-label>Chose dates:</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input
          matStartDate
          formControlName="start"
          placeholder="Start period"
          [max]="maxDateForSelect"
          #dateRangeStart
        />
        <input
          matEndDate
          formControlName="end"
          placeholder="End period"
          [max]="maxDateForSelect"
          #dateRangeEnd
          (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)"
        />
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
      >
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>

    <button id="btn" (click)="getData()">Chart</button>

    
  </div>


  <div class="header">
    <div class="selector">
      <select [(ngModel)]="selectedCurrency" (change)="updateCurrency($event)">
        <option *ngFor="let elem of currency" [value]="elem.value">
          {{ elem.value }}
        </option>
      </select>
    </div>
    <div class="title"> to UAH</div>
  </div>


  <div class="chart-body" id="chart">
    <apx-chart
      #chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
    ></apx-chart>
  </div>
</div>